- var images = "/assets/images/";
footer.container
  section.pt-5
    .row.mb-5
      .col-12.col-lg-2
        p.text-center.mb-4
          span.logo.merriweather-bold.text-cp2 antic
      .col-12.col-lg-7
        .row
          .col-12.col-lg-3.order-lg-4
            h3.mb-2.text-cp4 About
            ul.list-unstyled.text-cp3.mb-5
              li.mb-2
                a.text-cp3(href="#") Our story
              li.mb-2
                a.text-cp3(href="#") Our stores
              li.mb-2
                a.text-cp3(href="#") Our patners
          .col-12.col-lg-3.order-lg-3
            h3.mb-2.text-cp4 Services
            ul.list-unstyled.text-cp3.mb-5
              li.mb-2
                a.text-cp3(href="#") Click and collect
              li.mb-2
                a.text-cp3(href="#") Conception
              li.mb-2
                a.text-cp3(href="#") Installation
              li.mb-2
                a.text-cp3(href="#") Advices
              li.mb-2
                a.text-cp3(href="#") Gift card
          .col-12.col-lg-3
            h3.mb-2.text-cp4 Products
            ul.list-unstyled.text-cp3.mb-5
              li.mb-2
                a.text-cp3(href="#") Furniture
              li.mb-2
                a.text-cp3(href="#") Decoration
              li.mb-2
                a.text-cp3(href="#") Storage
              li.mb-2
                a.text-cp3(href="#") Baby and child
              li.mb-2
                a.text-cp3(href="#") Connected home
          .col-12.col-lg-3
            h3.mb-2.text-cp4 Rooms
            ul.list-unstyled.text-cp3.mb-5
              li.mb-2
                a.text-cp3(href="#") Living room
              li.mb-2
                a.text-cp3(href="#") Dining room
              li.mb-2
                a.text-cp3(href="#") Cooked
              li.mb-2
                a.text-cp3(href="#") Bedroom
              li.mb-2
                a.text-cp3(href="#") Bathroom
              li.mb-2
                a.text-cp3(href="#") Office
              li.mb-2
                a.text-cp3(href="#") Laundry
              li.mb-2
                a.text-cp3(href="#") Garage
      .col-12.col-lg-3
        h3.mb-4.text-cp4 We respect our planet
        img.mb-3.w-100(src=images+"505a32d6d777c66cfe3862b428ae2b81.jpeg", alt="")
        p.text-cp3.pe-4 We’re taking positive steps to reduce our impact on the planet. For us, that means retailing responsibly. We’ve set a&nbsp;number of goals to get us there.
        a.karla-bold(href="#")
          | Learn more

          svg(width="7", height="10", viewBox="0 0 7 10", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd", clip-rule="evenodd", d="M2.48642 0.292892C2.09589 -0.0976306 1.46273 -0.0976306 1.0722 0.292892C0.681682 0.683417 0.681682 1.31658 1.0722 1.70711L4.36509 5L1.0722 8.29289C0.681682 8.68342 0.681682 9.31658 1.0722 9.70711C1.46273 10.0976 2.09589 10.0976 2.48642 9.70711L6.48642 5.70711C6.87694 5.31658 6.87694 4.68342 6.48642 4.29289L2.48642 0.292892Z", fill="#A06056")
    
    .text-center.mb-5
      a(href="#") 
        img.me-3(src=images+"Facebook.png", alt="Facebook")
      
      a(href="#") 
        img.me-3(src=images+"Twitter.png", alt="Twitter")
      
      a(href="#") 
        img.me-3(src=images+"Linkedin.png", alt="Linkedin")
      
      a(href="#") 
        img(src=images+"Instragram.png", alt="Instragram")
    .row
        .col-12.col-lg-5.order-lg-2
          .row.mb-5.mb-lg-0
            .col-5.col-lg-4
              a.text-black.opacity-45(href="#") Privacy&nbsp;policy
            .col-6.col-lg-4
              a.text-black.opacity-45(href="#") Term&nbsp;of&nbsp;service
            .col-5.col-lg-4
              a.text-black.opacity-45(href="#") Language
        .col-12.col-lg-7.order-lg-1
          p.text-cp3.opacity-90
                |&copy; 2024 Jean Francois Gonzalez Arango
